<%- include('header') %>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
<script>
var test = <%- JSON.stringify(p_names) %>;
console.log(test);
</script>


      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%=user_info[0].last_name%>, <%=user_info[0].last_name%></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">  </div>
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Login:</td>
                    <td><%=user_info[0].user_name%></td>
                  </tr>
                  <tr>
                    <td>ID:</td>
                    <td><%=user_info[0].id%></td>
                  </tr>
                  <% for(var i=0; i<marks.length; i++) {%>
   <tr>
     <td>
       <% for(var j=0; j<p_names.length; j++) {
          if(p_names[j].id_p == marks[i].id_p) { %>
            <%=p_names[j].p_name%><%
          } 
          }
          %>
     </td>
      <td>
       <%= marks[i].mark%>
     </td>
   </tr>
<% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
 <%- include('footer') %>